<table class="table" *ngIf="service.adatom">
  <thead>
  <th>Name</th>
  <th>Username</th>
  <th>Password</th>
  <th></th>
  <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let adat of service.adatom">
    <td>{{adat.name.title}} {{adat.name.first}} {{adat.name.last}}</td>
    <td>{{adat.login.username}}</td>
    <td>{{adat.login.password}}</td>
    <td><button class="btn btn-danger" (click)="delete(adat)">Töröl</button></td>
    <td><button class="btn btn-warning" (click)="modify(adat.login)">Módosít</button></td>
  </tr>
  </tbody>
</table>
